@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Ubuntu:ital,wght@1,300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


#header {
    /* position: fixed; */
    width: 100%;
    height: 36px;
    background-color: #303753;
    top: 0px;
    left: 0px;
    right: 0px;
}

/* ---------------Begin:Introduce----------- */

/* ----------------Begin:dia chi----------- */
#location {
    line-height: 36px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
}

#location .ti-location-pin {
    padding-right: 15px;
    color: #fff;
    line-height: 36px;
    display: inline-block;
}

#location h5 {
    color: #fff;
    line-height: 36px;
    display: inline-block;
}

#location .location-text {
    display: inline-block;
}

/* ------------End:dia chi----------------- */
/* ------------Begin:so dien thoai--------- */
#contact {
    line-height: 36px;
    display: inline-block;
}

#contact .ti-mobile {
    line-height: 36px;
    color: #fff;
    display: inline-block;
    padding-right: 15px;
}

#contact .mobile-text {
    line-height: 36px;
    color: #fff;
    display: inline-block;
}

/* ------------End:so dien thoai--------- */
/* ------------Begin:icon-list--------- */
#icon-list {
    line-height: 36px;
    display: inline-block;
    float: right;
    padding-right: 100px;
}

#icon-list .ti-facebook,
#icon-list .ti-instagram,
#icon-list .ti-google {
    color: #fff;
    line-height: 36px;
    letter-spacing: 16px;
}

/* ------------End:icon-list--------- */
/* ---------------End:Introduce----------- */

/* ---------------Begin:Nav----------- */
#nav {
    position: relative;
    /* bottom:3px; */
    width: 100%;
    height: 108px;
    background-color: #01969C;
}

#nav li {
    position: relative;
}

#nav img {
    height: 79px;
    margin: 15px 15px 15px 35px;
}

#nav .nav_list {
    list-style: none;
    display: inline-block;
    float: right;
}

#nav>.nav_list>li {
    display: inline-block;
    text-align: center;
}

.nav_list>li>a {
    line-height: 108px;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.nav_list>li:hover>a {
    background-color: #fff;
    color: #01969C;
}

#nav .ti-search {
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

/* subnav--------------------------------- */
#nav .subnav {
    position: absolute;
    width: 125.5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    top: 150px;
    transition: 0.1s;
    list-style: none;
}

#nav .subnav li {
    width: 125.5px;
    line-height: 70px;
    cursor: pointer;
}

#nav li:hover .subnav {
    visibility: visible;
    top: 108px;
}

.subnav li a {
    text-decoration: none;
    display: inline-block;
    color: #01969C;
    width: 100%;
}

.subnav li:hover a {
    background-color: #01969C;
    color: #fff;
}

/* ---------------End:Nav----------- */
#slider {
    /* position: relative; */
    background: url(/Home/accset/img/background_1.jpg) top center / cover no-repeat;
    height: 940px;
    margin-top: 110px;
    width: 100%;
}

#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #1a43be;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#slider .text_box {
    position: absolute;
    top: 500px;
    left: 146px;
    letter-spacing: 3px;
}

#slider a {
    border: solid 1pt black;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px;
}

#slider .headline {
    padding-bottom: 25px;
    text-shadow: 1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white;
}

/* --button-- */
#slider .singup>a {
    border-radius: 105px;
    width: 180px;
    height: 50px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    transition: transform 0.2s;

}

#slider .singup a:hover {
    background: linear-gradient(45deg, #0a345e97, #0a417997, #0856a497, #3399ff97, #0a507197, #3399ff97);
    transform: scale(1.05);
}

/* --button-- */
#content {
    /* position: relative; */
    height: 150px;
    background-color: #E9B6F7;
}

#content .logo {
    display: inline-block;
    width: calc(100% / 4.2);
    text-align: center;
    padding: 15px;
}

#content img {
    height: 100px;
}

#reason {
    height: 400px;
}

#reason .text_reason {
    width: 770;
    display: inline-block;
    line-height: 26px;
}

#reason .question {
    line-height: 25px;
}

#reason li {
    list-style: none;
}

#reason .img_reason {
    display: inline-block;
}

#reason .img_reason img {
    height: 240px;
    padding: 15px;
}


#reason .survey {
    display: inline-block;
    width: calc(100% / 4.5);
    height: 257px;
    margin-right: 48px;
    float: right;
    border: 3px solid #01969C;
    border-radius: 10px;
    padding: 15px;
}

#reason .answer {
    text-align: center;
}

#reason .answer button {
    background-color: #fff;
    border-radius: 5px;
}

.survey {
    margin-top: -35px;
    background-color: #ccc;
}


#footer {
    position: absolute;
    height: 500px;
    width: 100%;
    background-color: #71a340;
    z-index: -1;
}

#footer .subfooter {
    position: relative;
    top: 50px;
    height: 400px;
    width: 80%;
    display: block;
    margin: 0 auto;
    background-color: #c3f9c3;
    border-radius: 20px;
}

#footer .text_box {
    display: inline-block;
    margin: 42px;
    float: left;
    border-right: color(#000);
}

#footer .text_box,
#footer .text_box a {
    list-style: none;
    color: #000;
    line-height: 30px;
    text-decoration: none;
}

#footer .topic_box {
    float: left;
    margin: 42px;
    margin-left: 150px;
    color: #000;
    text-align: center;
}

#footer .banner {
    text-align: center;
    margin-left: 143px;
}